@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --orange: #FF7600;
    --yellow: #FFA900;
    --fucsia: #CD113B;
    --violet: #52006A;
    --white: #F3F8FF;
}

html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    list-style: none;
}

body{
    background: rgb(255,118,0);
    background: linear-gradient(90deg, rgba(255,118,0,1) 0%, rgba(235,162,99,1) 25%, rgba(235,162,99,0.8) 50%, rgba(235,162,99,1) 75%, rgba(255,118,0,1) 100%);  
    color: var(--white);
}

.header{
}

.header .navbar{
}

.header .navbar .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    color: var(--white);
    font-weight: 600;
    font-size: 1.3em;
}

.header .navbar .logo .logoImage{
    width: 80px;
    height: auto;
    filter: drop-shadow(2px 2px 8px rgba(0,0,0,.2));
}

.header .navbar .navLinks{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.header .navbar .navLinks .navItem{
    border: solid 1px transparent;
    border-radius: 24px;
    padding: 8px 12px;
    background: transparent;
    transition: all ease .3s;
}

.header .navbar .navLinks .navItem.active{
    background: var(--orange);
    border: solid 1px rgba(255,255,255,.5);
    transition: all ease-in-out .3s;
}

.header .navbar .navLinks .navItem .navlink{
    color: var(--white);
    font-size: 16px;
    font-weight: 500;
}